@model IEnumerable<System.String>

@{
    ViewBag.Title = "Columns";
}

<h2>Columns</h2>

@using (Html.BeginForm("DisplayData", "Excel", FormMethod.Post))
{
    <input hidden name="workbook" value="@ViewBag.Workbook" />
    <input hidden name="worksheet" value="@ViewBag.Worksheet" />

    foreach (var item in Model)
    {
        <label>
            <input name="columns" type="checkbox" value="@item" />
            @item
        </label>
    }
    <button type="submit">Display Data</button>
}
