@model IEnumerable<System.String>

@{
    ViewBag.Title = "Worksheets";
}

<h2>Worksheets</h2>

<strong>@ViewBag.WorkbookName</strong>

@foreach (var item in Model)
{
    <p>@Html.ActionLink(item, "Columns", new { workbookName = ViewBag.WorkbookName, worksheetName = item })</p>
}


